body{
  background-color: #f5f5f5;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.dialogue{
  padding: 7px;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  border-radius: 15px;
  opacity: 0;
}
.signature{
  font-size: 12px;
}
.fenetre_menu{

}
.fenetre_dialogue{
  overflow: hidden;
  margin-bottom: 35px;
  z-index: -1;
}
.fenetre_texte{
  z-index: 100;
  box-shadow: 0px -3px 10px 0px rgba(167, 167, 167, 0.79);
  position: fixed;
  height: 55px;
  bottom: 0px;
  padding-top: 15px;
  padding-bottom: 60px;
  width: 99%;
  left: 5px;
  background-color: white;
}
.titre_menu{
  font-size: 30px;
}
.liste_users{
  /*position: fixed;*/
}
