/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.dialogue{
  padding: 7px;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  border-radius: 15px;
  opacity: 0;
}
.signature{
  font-size: 12px;
}
.fenetre_dialogue{
  height: 500px;
  overflow:auto;
}
